<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!--TiTaToggle-->
    <link rel="stylesheet" type="text/css" href="//cdn.sm.plus/bootstrap/titatoggle/1.2.8/titatoggle.min.css"/>


  </head>

  <body>
    <div class="container">

      <div class="collapse" id="navbar-header">
        <div class="inverse p-a">
          <p style="display: inline-block">Wyszukaj po adresie:</p>
          <input placeholder="np. Ząbkowska" style="padding: 10px 3px; font-size: 12px">
          <button class="btn btn-info">Szukaj</button>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="przewijak">
            <span>tylko z przewijakiem</span>
          </label>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="disabled">
            <span>tylko przystosowane dla niepełnosprawnych</span>
          </label>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="free">
            <span>tylko bezpłatne</span>
          </label>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="free" checked>
          <span>
            toi toi</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="free" checked>
          <span>
            kawiarnie</span>
        </div>
        <div class="facility-type" style="padding-right: 10px;  display: inline-block">
          <input type="checkbox" id="free" checked>
          <span>
            McDonald's</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="free" checked>
          <span>
            parkuj i jedź</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="free" checked>
          <span>
            przystanki</span>
        </div>

      </div>
      <div class="navbar navbar-default navbar-static-top">
        opcje wyszukiwania
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          ☰
        </button>
        <a class="navbar-brand" href="#">SIKUWAWA</a>
      </div>

      <div class="panel" id="quicksearch">
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <button type='button' class='btn btn-default btn-block'>Znajdz najblizszy</button>
            </div>
            <div class="col-xs-4">
              <button type='button' class='btn btn-default btn-block'>Znajdz bezplatny</button>
            </div>
            <div class="col-xs-4">
              <button type='button' class='btn btn-default btn-block'>Znajdz Najlepiej Oceniony</button>
            </div>
          </div>
        </div>
      </div>
      <div id="instructions" style="height:250px; width:100%; overflow:auto; clear:both;"></div>
      <div id="map"></div>

      <% @toilets.each do |toilet| %>
      <div class="invisible toilet" data-lat="<%= toilet.lat %>" data-lon="<%= toilet.lon %>" name="<%= toilet.name %>"
        disabledfriendly="<%=toilet.disabledfriendly%>" momfriendly="<%=toilet.momfriendly%>" price="<%=toilet.prize%>"
        type="<%= toilet.toilettype %>" address="<%= toilet.adress %>"></div>
      <% end %>

    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- Maps -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&amp;language=pl"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.22/gmaps.min.js"></script>

    <!-- Temporary -->
    <script>
      $(document).ready(function() {
        var gMarkers_disabled = [], gMarkers_mom = [], gMarkers_free=[];

        var my_lat;
        var my_long;

        $('#instructions').hide();
        var map = new GMaps({
          el: '#map',
          lat: 52.14,
          lng: 21.0,
          height: '500px',
          zoom: 12,
          zoomControl: true,
          zoomControlOpt: {
            style: 'SMALL',
            position: 'TOP_LEFT'
          },
          panControl: false
        });

        GMaps.geolocate({
          success: function(position) {
            map.setCenter(position.coords.latitude, position.coords.longitude);
            my_lat = position.coords.latitude;
            my_long = position.coords.longitude;
          },
          error: function(error) {
            alert('Geolocation failed: ' + error.message);
          },
          not_supported: function() {
            alert("Your browser does not support geolocation");
          },
          always: function() {}
        });

        var marker_icon_toilet = {
          url: 'icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var marker_icon_rest = {
          url: 'rest-icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var marker_icon_mac = {
          url: 'mac-icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var marker_icon_park = {
          url: 'park-icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var marker_icon_gall = {
          url: 'gall-icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var marker_icon_cafe = {
          url: 'cafe-icon.png',
          size: new google.maps.Size(30, 49),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(15, 35),
          scaledSize: new google.maps.Size(30, 49)
        };

        var drawRouteOnClick = function() {
          map.cleanRoute();
          $('#instructions').empty();
          $('#instructions').slideDown(600, function() {

          });
          $('#quicksearch').hide('fast', function() {

          });
          map.travelRoute({
            origin: [
              my_lat, my_long
            ],
            destination: [
              $(this).attr('data-lat'), $(this).attr('data-lon')
            ],
            travelMode: 'walking',
            step: function(e) {
              $('#instructions').append('<li>' + e.instructions + '</li>');
              $('#instructions li:eq(' + e.step_number + ')').delay(450 * e.step_number).fadeIn(200, function() {
                map.drawPolyline({path: e.path, strokeColor: '#131540', strokeOpacity: 0.6, strokeWeight: 6});
              });
            }
          });
        }

        $(".toilet").each(function() {
          var marker_icon;

          switch($(this).attr("type")) {
            case 'toilets':
              marker_icon = marker_icon_toilet;
              break;

            case 'cafe':
              marker_icon = marker_icon_cafe;
              break;

            case 'pub':
              marker_icon = marker_icon_rest;
              break;

            case 'restaurant':
              marker_icon = marker_icon_rest;
              break;

            case 'fast_food':
              marker_icon = marker_icon_mac;
              break;

            case 'mall':
              marker_icon = marker_icon_gall;
              break;

            case 'parking':
              marker_icon = marker_icon_park;
              break;

            case 'subway':
              marker_icon = marker_icon_park;
              break;

            case 'station':
              marker_icon = marker_icon_park;
              break;

            default:
              marker_icon = marker_icon_toilet;
              break;
          }

          var marker = map.addMarker({
            lat: $(this).attr('data-lat'),
            lng: $(this).attr('data-lon'),
            icon: marker_icon,
            click: drawRouteOnClick.bind(this),
            infoWindow: {
              content: $(this).attr('name') + '<br>' + $(this).attr('address')
            }
          });

          if ($(this).attr('disabledfriendly') == 'false')  {
            gMarkers_disabled.push(marker);
          }

          if ($(this).attr('momfriendly') == 'false') {
            gMarkers_mom.push(marker);
          }

          if ($(this).attr('price')!=0) {
            gMarkers_free.push(marker);
          }

        });

        $("#disabled").change(
          function(){
            if (this.checked) {
              map.removeMarkers(gMarkers_disabled);
            } else {
              if ($("#free").is(":checked") && $("#przewijak").is(":checked")) {
                var disf = $(gMarkers_disabled).not(gMarkers_free).get();
                var disfm = $(disf).not(gMarkers_mom).get();
                console.log(disfm);
                $.each(disfm, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#free").is(":checked")) {
                var disf = $(gMarkers_disabled).not(gMarkers_free).get();
                $.each(disf, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#przewijak").is(":checked")) {
                var dism = $(gMarkers_disabled).not(gMarkers_mom).get();
                $.each(dism, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else {
              $.each(gMarkers_disabled, function(index, obj){
                var marker = map.addMarker(obj);
              });
            }
            }
        });

        $("#free").change(
          function(){
            if (this.checked) {
              map.removeMarkers(gMarkers_free);
            } else {
              if ($("#disabled").is(":checked") && $("#przewijak").is(":checked")) {
                var disd = $(gMarkers_free).not(gMarkers_disabled).get();
                var disdm = $(disd).not(gMarkers_mom).get();
                $.each(disdm, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#disabled").is(":checked")) {
                var disd = $(gMarkers_free).not(gMarkers_disabled).get();
                $.each(disd, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#przewijak").is(":checked")) {
                var dism = $(gMarkers_free).not(gMarkers_mom).get();
                $.each(dism, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else {
              $.each(gMarkers_free, function(index, obj){
                var marker = map.addMarker(obj);
              });
            }
            }
        });

        $("#przewijak").change(
          function(){
            if (this.checked) {
              map.removeMarkers(gMarkers_mom);

            } else {
              if ($("#disabled").is(":checked") && $("#free").is(":checked")) {
                var disd = $(gMarkers_mom).not(gMarkers_disabled).get();
                var disdf = $(disd).not(gMarkers_free).get();
                $.each(disdf, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#disabled").is(":checked")) {
                var disd = $(gMarkers_mom).not(gMarkers_disabled).get();
                $.each(disd, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else if ($("#free").is(":checked")) {
                var disf = $(gMarkers_mom).not(gMarkers_free).get();
                $.each(disf, function(index, obj){
                  var marker = map.addMarker(obj);
                });
              } else {
              $.each(gMarkers_mom, function(index, obj){
                var marker = map.addMarker(obj);
              });
            }
            }
        });

        function error(err) {
          console.warn('ERROR(' + err.code + '): ' + err.message);
        };

        var options = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 0
        };

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, error, options);
          }
        }

        function showPosition(position) {
          map.addMarker({lat: position.coords.latitude, lng: position.coords.longitude});
          my_log = position.coords.latitude;
          my_lng = position.coords.longitude;
        }

        getLocation();

      });
    </script>

  </body>
</html>
