<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!--TiTaToggle-->
    <link rel="stylesheet" type="text/css" href="//cdn.sm.plus/bootstrap/titatoggle/1.2.8/titatoggle.min.css"/>

    <style>

      .infowindow {
        width: 200px;
      }

      .hidden {
        display: none !important;
        visibility: hidden !important;
      }

    </style>

  </head>

  <body>
    <div class="container">

      <div class="collapse" id="navbar-header">
        <div class="inverse p-a">
          <p style="display: inline-block">Wyszukaj po adresie:</p>
          <input placeholder="np. Ząbkowska" style="padding: 10px 3px; font-size: 12px">
          <button class="btn btn-info">Szukaj</button>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="przewijak">
            <span>tylko z przewijakiem</span>
          </label>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="disabled">
            <span>tylko przystosowane dla niepełnosprawnych</span>
          </label>
        </div>
        <div class="checkbox checkbox-slider--b-flat">
          <label>
            <input type="checkbox" id="free">
            <span>tylko bezpłatne</span>
          </label>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="toitoi" checked>
          <span>
            toi toi</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="cafe" checked>
          <span>
            kawiarnie</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="rest" checked>
          <span>
            restauracje</span>
        </div>
        <div class="facility-type" style="padding-right: 10px;  display: inline-block">
          <input type="checkbox" id="mac" checked>
          <span>
            McDonald's</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="parkride" checked>
          <span>
            parkuj i jedź</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="stops" checked>
          <span>
            przystanki</span>
        </div>
        <div class="facility-type" style="padding-right: 10px; display: inline-block">
          <input type="checkbox" id="malls" checked>
          <span>
            galerie handlowe</span>
        </div>

      </div>
      <div class="navbar navbar-default navbar-static-top">
        <a class="navbar-brand" href="#">SIKUWAW</a>
        opcje wyszukiwania
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          ☰
        </button>
      </div>

      <div class="panel hidden" id="navigationoptions">
        <!-- OPIS TUTAJ -->
        <div class="row">
          <div class="col-xs-6">
            <button type='button' id='toggle-instructions' class='btn btn-info btn-block' style="white-space:normal;">Pokaż wskazówki</button>
          </div>
          <div class="col-xs-6">
            <button type='button' id='cancel-route' class='btn btn-info btn-block' style="white-space:normal;">Zakończ nawigację</button>
          </div>
        </div>
      </div>
      <div class="panel panel-default hidden" id="instructions-panel">
        <div class="panel-heading">Wskazówki dojścia</div>
        <div class="panel-body">
          <div id="instructions" style="max-height:250px; width:100%; overflow:auto; clear:both;"></div>
          <button type='button' id="hide-instructions" class='btn btn-danger btn-block'>Schowaj wskazówki</button>

        </div>
      </div>

      <br>
      <div id="map"></div>

      <% @toilets.each do |toilet| %>
      <div class="hidden toilet" data-lat="<%= toilet.lat %>" data-lon="<%= toilet.lon %>" name="<%= toilet.name %>" disabledfriendly="<%=toilet.disabledfriendly%>" momfriendly="<%=toilet.momfriendly%>" price="<%=toilet.prize%>" type="<%= toilet.toilettype %>" address="<%= toilet.adress %>"></div>
      <% end %>

    </div>

    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- Maps -->
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&amp;language=pl"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.22/gmaps.min.js"></script>

    <!-- Temporary -->
    <script type="text/javascript" src="toilets.js"></script>

    <script>
      $(document).ready(function() {
        Toilets();
      });
    </script>

  </body>
</html>
